.Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Stretches container to take up the full screen height minus header height */
  min-height: calc(100vh - 80px);
  text-align: center;
  box-sizing: border-box;
}
